[data-theme="dark"] {
  --background-color: #0b0c13;

  --tile-color: #161721;
  --tile-hover-color: #6317c0;
  --tile-hashtag-color: #af254c;

  --link-hover-color: #af254c;

  --text-color: #d0d0d0;
  --text-contrast-color: #202020;
  --text-dimmed-color: #808080;
  --text-highlight-color: #af254c;
  --text-selected-background-color: #6317c0;

  --landing-header-gradient: -webkit-linear-gradient(0deg, #6317c0, #b723d5);

  --experience-active-job-dot-color: #4cc933;
  --experience-inactive-job-dot-color: #af254c;
}
